@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap");

.card {
  width: 328px;
  height: 207px;
  flex-shrink: 0;
  width: 328px;
  height: 207px;
  flex-shrink: 0;
  text-align: center;
}

.card img {
  width: 100px;
  margin-left: 110px;
  margin-top: 15px;
}
.col a {
  text-decoration: none;
  color: black;
}
.card p {
  font-size: 20px;
  margin-top: 20px;
}
.ftCard {
  width: 768px;
  height: 695px;
  flex-shrink: 0;
  border-radius: 55px;
  background: #fffeff;
  box-shadow: 0px 4px 55px 0px rgba(0, 0, 0, 0.25);
}
.ftCard p {
  color: #14274c;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.dataCard {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30rem;

}
.cardData {
  width: 518px;
  height: 328px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}
.cardData img{
  margin-left: 13rem;
  margin-top: 40px;
}
